.App {
  text-align: center;
  background-color: rgb(254, 235, 178);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/public/images/forest.jpeg);
  background-size: contain;
}

h4 {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

h3 {
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

ul {
  list-style-type: circle;
  margin-block-start: 0.1em;
}

ul li {
  text-align: left;
  padding: 2px;
  font-size: 1.1rem;
  line-height: 150%;
}

/* First Story */
.header,
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0.5% 10%;
  background-color: rgb(255, 192, 0);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/public/images/forest2.png);
  background-size: contain;
}

.header-image {
  width: 100px;
}

.logo-image {
  width: 130px;
}

.footer {
  font-size: 1.2rem;
}

.left-footer-container,
.right-footer-container {
  text-align: left;
  padding: 0.5% 0;
}

.left-footer-container div,
.right-footer-container div {
  font-weight: 500;
}

.left-footer,
.right-footer {
  padding-inline-start: 0;
}

.left-footer li,
.right-footer li {
  list-style-type: none;
  align-items: left;
  padding: 2px 0;
}

.right-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.roles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1% 2% 2%;
  border: 2px solid rgb(242, 204, 134);
  border-radius: 6px;
  background-color: rgb(236, 229, 213);
  width: 45%;
  margin: 3% 1% 3% 10%;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.5);
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(255, 221, 158);
  width: 80%;
}

/* Second Story */
.info-container,
.roles-container {
  display: flex;
}

.individual-roles {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  width: 100%;
}

.individual-roles section article {
  margin: 2%;
}

.individual-roles section {
  border: 2px solid orange;
  border-radius: 6px;
  background-color: rgb(245, 210, 139);
  width: 90%;
}

.role-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border: 1px solid rgb(229, 159, 94);
  padding: 4px;
  font-size: 1.1rem;
  min-height: 180px;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrum-scheme-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1rem;
  padding: 0 2% 2% 2%;
  border-radius: 6px;
  background-color: rgb(236, 229, 213);
  width: 76%;
  font-size: 1.3rem;
  margin: 1% auto;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(242, 204, 134);
}

.scrum-scheme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

#image-arrow {
  border: none;
}

.scrum-scheme article {
  border-radius: 6px;
  padding: 2.5%;
}

/*Third story*/
.role {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/*Fith User Story*/
.scrum-artifacts {
  background-color: rgb(31, 143, 9, 0.6);
  border: 2px solid rgb(25, 112, 8);
  font-weight: 600;
}

.scrum-artifacts:hover div,
.sprint-events:hover div,
.sprint-tools:hover div {
  display: none;
}

.scrum-artifacts:hover:before,
.sprint-events:hover:before,
.sprint-tools:hover:before,
.sprint-image:hover:before {
  content: "Additional Info!";
  font-weight: 600;
  font-size: 1.5rem;
}

.sprint-image:hover div {
  display: none;
}

.sprint-tools:hover:before {
  padding: 10px;
}

.scrum-artifacts:hover,
.sprint-events:hover,
.sprint-tools:hover,
.sprint-image:hover {
  background-color: rgb(240, 167, 57);
  cursor: pointer;
  border: 2px solid rgb(45, 45, 45, 0.8);
}

.sprint-events {
  background-color: rgb(64, 112, 234, 0.6);
  border: 2px solid rgb(64, 112, 234);
  font-weight: 600;
  min-width: 50px;
}

.tools-image {
  width: 80%;
}

.tools-container {
  border: 2px solid orange;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.tools-container article {
  padding: 0;
}

.sprint-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sprint-tools div {
  padding: 5%;
  border: 2px solid rgb(157, 83, 14);
  background-color: rgb(236, 109, 38);
  border-radius: 6px;
}

.scrum-title {
  font-size: 2rem;
  color: green;
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
}

.scrum-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: 3% auto;
}

.scrum-details {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  border-radius: 6px;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(242, 204, 134);
}

.details-title {
  border-bottom: 2px solid grey;
}

.event-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.event-container {
  background-color: rgb(64, 112, 234, 0.6);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.artifact-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.artifact-container {
  background-color: rgb(31, 143, 9, 0.6);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.estimation-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.estimation-container {
  background-color: rgb(236, 109, 38);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.concept-color div {
  padding: 15px;
}

.concept-name div {
  padding: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.types-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.types-name p {
  margin-block-start: 0.8em;
  margin-block-end: 0.5em;
  background-color: rgb(214, 214, 214);
  border-radius: 6px;
}

.types-container {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  background-color: rgb(236, 229, 213);
  border-radius: 0 6px 6px 0;
  padding: 10px;
}

.event-name p {
  border: 3px solid rgb(64, 112, 234);
  padding: 4px;
  font-weight: 600;
}

.artifact-name p {
  border: 3px solid rgb(25, 112, 8);
  padding: 4px;
  font-weight: 600;
}

.estimation-name p {
  border: 3px solid rgb(157, 83, 14);
  padding: 4px;
  font-weight: 600;
}

.role-button {
  padding: 2% 5%;
  font-size: 1.2rem;
  background-color: green;
  border: 2px solid rgb(25, 112, 8);
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.intro-section {
  display: flex;
  flex-direction: row;
}

.scrum-benefits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
  width: 28%;
}

.scrum-benefits-container h1 {
  font-size: 1.8rem;
  color: green;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.scrum-benefits-container h2 {
  font-size: 1.4rem;
  color: rgb(27, 29, 27);
  margin-block-start: 0.2em;
  margin-block-end: 0.8em;
}

.scrum-benefits li {
  font-size: 1.2rem;
}

.scrum-benefits {
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 1.2rem;
}

.roles-explanation {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap: 20px;
}

.single-detail {
  display: grid;
  grid-template-columns: 25% 75%;
  height: fit-content;
  text-align: left;
  gap: 20px;
}

.single-detail :nth-child(1) {
  font-style: oblique;
  font-weight: 500;
}

.roles-header p {
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}
.roles-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 80px;
  width: 80%;
  margin-bottom: 3%;
  border-radius: 6px;
  border: rgb(224, 174, 81);
}

.roles-header h3 {
  color: green;
  font-size: 1.7rem;
}

.roles-header div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 207, 207, 1);
  border-radius: 6px;
  border: 2px solid rgb(224, 174, 81);
}

.roles-header div p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.roles-header div h4 {
  padding: 0 10px;
}

.quiz-page {
  height: 80vh;
  display: flex;
}

.questions-card {
  background-color: #9cd795;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  margin: 5% auto;
  flex-direction: column;
}

.answers-questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto;
  gap: 9px;  
}

.answers-questions button{
  padding: 2%;
  border-radius: 6px;
  border: 2px solid green;
  font-size: 1.1rem;
  width: 80%;
}

.answers-questions button:hover{
  background-color: rgb(234, 209, 178);
  cursor: pointer;
}

.question-title{
  color: rgb(31, 71, 7);
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 2%;
}

.next-question, .restart-button{
  padding: 2% 6%;
  font-size: 1.2rem;
  background-color: antiquewhite;
  border-radius: 6px;
  border: rgb(200, 163, 95) 2px solid;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.question-count{
  font-size: 1.2rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.link-style{
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-links{
  display: flex;
  flex-direction: row;
  gap: 20%;
}