.App {
  text-align: center;
  background-color: rgb(254, 235, 178);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(/public/images/forest.jpeg);
  background-size: contain;
}

h4 {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

ul {
  list-style-type: circle;
  margin-block-start: 0.1em;
}

ul li {
  text-align: left;
  padding: 2px;
  font-size: 1.1rem;
  line-height: 150%;
}

/* First Story */
.header,
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0.5% 10%;
  background-color: rgb(255, 192, 0);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(/public/images/forest2.png);
  background-size: contain;
}

.header-image {
  width: 100px;
}

.logo-image {
  width: 130px;
}

.footer {
  font-size: 1.2rem;
}

.left-footer-container,
.right-footer-container {
  text-align: left;
  padding: 0.5% 0;
}

.left-footer-container div,
.right-footer-container div {
  font-weight: 500;
}

.left-footer,
.right-footer {
  padding-inline-start: 0;
}

.left-footer li,
.right-footer li {
  list-style-type: none;
  align-items: left;
  padding: 2px 0;
}

.right-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(255, 221, 158);
  width: 80%;
}

/* Second Story */
.info-container,
.roles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.roles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2% 2% 2%;
  border: 2px solid orange;
  border-radius: 6px;
  background-color: rgb(236, 229, 213);
  width: 76%;
}

.info-container section {
  margin: 1% auto;
}

.individual-roles {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.individual-roles section article {
  margin: 2%;
}

.individual-roles section {
  border: 2px solid orange;
  border-radius: 6px;
  background-color: rgb(245, 210, 139);
  width: 90%;
}

.role-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  border: 1px solid rgb(229, 159, 94);
  padding: 4px;
  font-size: 1.1rem;
}

.image-container {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrum-scheme-container {
  margin-top: 1rem;
  padding: 0 2% 2% 2%;
  border: 2px solid orange;
  border-radius: 6px;
  background-color: rgb(236, 229, 213);
  width: 76%;
  font-size: 1.3rem;
}

.scrum-scheme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#image-arrow {
  border: none;
  padding: 0 1rem;
}

.scrum-scheme article {
  border-radius: 6px;
  padding: 2.5%;
}

/*Third story*/
.text-information-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: top;
  padding: 5%;
  margin-top: 1rem;
  padding: 0 2% 2% 2%;
  border: 2px solid orange;
  border-radius: 6px;
  background-color: rgb(236, 229, 213);
  width: 76%;
  font-size: 1.1rem;
  vertical-align: top;
}

.text-information article {
  text-align: left;
}

.role {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Fith User Story*/
.scrum-artifacts {
  background-color: rgb(31, 143, 9, 0.6);
  border: 2px solid rgb(25, 112, 8);
  font-weight: 600;
}

.sprint-events {
  background-color: rgb(64, 112, 234, 0.6);
  border: 2px solid rgb(64, 112, 234);
  font-weight: 600;
}

.tools-image {
  width: 80%;
}

.tools-container {
  border: 2px solid orange;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.tools-container article {
  padding: 0;
}

.sprint-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sprint-tools div {
  padding: 5%;
  border: 2px solid rgb(157, 83, 14);
  background-color: rgb(236, 109, 38);
  border-radius: 6px;
}

.scrum-title {
  font-size: 2rem;
  color: green;
}

.scrum-details-container {
  width: 80%;
}

.scrum-details {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  border: 2px solid orange;
  border-radius: 6px;
}

.details-title {
  border-bottom: 2px solid grey;
}

.event-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.event-container {
  background-color: rgb(64, 112, 234, 0.6);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.artifact-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.artifact-container {
  background-color: rgb(31, 143, 9, 0.6);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.estimation-color {
  font-size: 1.1rem;
  min-width: 14%;
  border-right: 2px solid orange;
  background-color: rgb(236, 229, 213);
}

.estimation-container {
  background-color: rgb(236, 109, 38);
  padding: 15px;
  min-width: 4%;
  border-radius: 6px 0 0 6px;
}

.concept-color div {
  padding: 15px;
}

.concept-name div {
  padding: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.types-name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.types-name p {
  margin-block-start: 0.8em;
  margin-block-end: 0.5em;
  background-color: rgb(214, 214, 214);
  border-radius: 6px;
}

.types-container {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
  background-color: rgb(236, 229, 213);
  border-radius: 0 6px 6px 0;
}

.event-name p {
  border: 2px solid rgb(64, 112, 234);
  padding: 4px;
  font-weight: 600;
}

.artifact-name p {
  border: 2px solid rgb(25, 112, 8);
  padding: 4px;
  font-weight: 600;
}

.estimation-name p {
  border: 2px solid rgb(157, 83, 14);
  padding: 4px;
  font-weight: 600;
}

.role-button {
  padding: 2% 5%;
  font-size: 1.2rem;
  background-color: green;
  border: 2px solid rgb(25, 112, 8);
  border-radius: 6px;
  color: white;
}
