.App {
  text-align: center;
  background-color: rgb(254, 235, 178);
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0.5% 7%;
  background-color: rgb(255, 192, 0);
}

.header-image{
  width: 100px;
}

.logo-image{
  width: 130px;
}

.footer {
  font-size: 1.2rem;
}

.left-footer-container, .right-footer-container {
  text-align: left;
  padding: 0.5% 0;
}

.left-footer-container div, .right-footer-container div{
  font-weight: 500;
}

.left-footer, .right-footer {
  padding-inline-start: 0;
}

.left-footer li, .right-footer li {
  list-style-type: none;
  align-items: left;
  padding: 2px 0;
}

.right-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;  
}

.info-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(255, 216, 100);
  width: 86%;
}

.info-container section{
  margin: 0 auto;
  border: 2px solid grey;
  width: 90%;
}